body {
    margin:0;
    padding:0;
  }
  .navbar {
    background-color:#000;
  }
  nav {
    height:100;
  }
  .navbar-nav {
    margin:auto;
  }
  .nav-link {
    margin:15px 25px;
    color:#fff;
    font-size: 20pt;
  }
  .nav-link:hover {
    color:orangered;
  }
  .box {
    width:100%;
    height:30px;
    background-color:#000;
    position:relative;
  }
  .box-1 {
    width:50%;
    background-color:#fff;
    height:100%;
    border-radius:0px 40px 0px 0px;
    border-top:5px solid blue;
    border-right:5px solid blue;
  }
  .box-2 {
    position:absolute;
    background-color:#fff;
    height:100%;
    width:50%;
    right:0;
    top:0;
    border-radius:40px 0px 0px 0px;
    border-top:5px solid blue;
    border-left:5px solid blue;
  }
  h1 {
    margin-top:200px;
  }
  