.base {
    background: darkslategray;
    margin-top: 5vh;
    border: 3px solid black;
    width: 100%;
}

.maindisplay {
    background: white;
    height: 25vh;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    font-family: Courier, monospace;
    overflow: auto;
}

.subdisplay {
    border-bottom: 1px solid blue;
    height: 25%;
    font-size: 2rem;
    overflow: auto;
}

.keypad {
    height: calc(200% / 3);
}

.keys {
    margin: 0;
    height: 20%;
    background: whitesmoke;
    color: grey;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.keys:hover {
    opacity: 1;
}

.ackey {
    color: red;
    background: blue;
}

.equalkey {
    color: white;
    background-color: orangered; 
}

.numkey {
    color: purple;
    background-color: white; 
}

.opkey {
    color: white;
    background-color: blue; 
}